<!DOCTYPE html>
<html xmlns:c="http://www.w3.org/1999/XSL/Transform">
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="../js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="../js/angular.js"></script>


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<p>This is the detail page for : {{id}} </p>

<body>
<h2>Detailed Training Table</h2>
<div>
  <table cellpadding="10" cellspacing="0" border="1" class="predictorDetailedTable">
    <tr>
      <th>Name</th>
      <th>Prediction Target</th>
      <th>Bucketing Method</th>
      <th>Encoding</th>
      <th>Prediction Method</th>
      <th>Accuracy</th>
    </tr>
    <tr>
      <td>{{tableName}}</td>
      <td>{{Prediction_Target}}</td>
      <td>{{Bucketing_Method}}</td>
      <td>{{Prediction_Encoding}}</td>
      <td>{{Prediction_Method}}</td>
      <td>{{Accuracy}}</td>
    </tr>
  </table>
</div>


<div class="head-nav">
  <div class = "head-nav-con clearFloat">
    <ul>
      <li id="li1"><a href="javascript:void(0)" (click)="SwitchToChart1()">ACTUAL VS PREDICTED</a></li>
      <li id="li2" style="background: #1E90FF;"><a href="javascript:void(0)" (click)="SwitchToChart2()" >ACCURACY VS PREFIX LENGTH</a></li>
      <li id="li3"><a href="javascript:void(0)" (click)="SwitchToChart3()">FEATURE VS IMPORTANCE</a></li>
    </ul>
  </div>
</div>


<br>


<div class="table-detailed" id="chart1" style="margin-left: 250px;width: 60%;display:none">
  <div class="table-scroll" *ngIf = "Prediction_Target == 'remtime'">
    <table border="1" style="width: 600px;height: 400px">
      <tr ng-repeat = "fitem in fitemrow" *ngFor="let fitemrow of spilt">
        <td *ngFor="let fitem of fitemrow">{{fitem}}</td>
      </tr>
    </table>
  </div>

  <div  *ngIf="Prediction_Target == 'label'">
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="chartOptions"
      [(update)]="updateFlag"
      [runOutsideAngular]="true"
      style="width: 100%; height: 60%; display: flex;">
    </highcharts-chart>
  </div>
</div>

<div ng-app = "myApp" ng-controller="myCtrl" id="chart2" style="margin-left: 250px;width: 60%">

  <div style="float:left;height:0px;width:150px;margin-left: 800px;" >
    <span style="font-size:20px"> Evaluation_Metrics </span>

    <mat-form-field appearance="fill" id="metric_value_label" >
      <mat-select  [(value)]="selectedMetric_label" (selectionChange)="getValue()">
        <mat-option   *ngFor="let selectedMetricLabel of label_selected" [value]="selectedMetricLabel.value">
          {{selectedMetricLabel.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" id="metric_value_rem_time">
      <mat-select  [(value)]="selectedMetric_remtime" (selectionChange)="getValue()">
        <mat-option   *ngFor="let selectedMetricRemtime of remtime_selected" [value]="selectedMetricRemtime.value">
          {{selectedMetricRemtime.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <canvas
    baseChart
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
    [plugins]="lineChartPlugins">
  </canvas>
  <span style="float:left;margin-left: 300px;font-size: 20px"> Number of events </span>
</div>


<div id="chart3" style="margin-left: 250px;width: 60%;display: none">
  <canvas
    baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType">
  </canvas>

</div>

<br>

<div style="margin-top: 20px ">
  <button class="" (click)="getBack()">BACK</button>
  <button class="" (click)="downloadPredictor()" style="margin-left: 100px">EXPORT ALL </button>
</div>

</body>

</html>



