button{
  background-color:#4CAF50;
  color:white;
  padding: 2px 10px;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}
.back
{
  background-color: #4CAF50;
  color: white;
}
.back-button {
  position:absolute;
  top:70px;
  right:300px;
  width: 120px;
  height: 35px;
  background-color:#8080FF;
  color:white;
  border-radius: 10px;
}
.back-button:hover {
  background-color: #4d4dff;
  color: yellow;
}

