button{
  background-color:#4CAF50;
  color:white;
  padding: 2px 10px;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}
.back
{
  background-color: #4CAF50;
  color: white;
}
.mat-spinner::ng-deep circle{
  stroke: black !important;
  }

