<h2>Create Dashboard</h2>

<br>
<div>
  <span>Monitor name:{{selectedMonitor.name}} </span>
  <br>
  <form [formGroup]="userForm" (ngSubmit)="CreateDashboard()" ngNativeValidate>
    <tr>
    <td><label>Upload Event Log : </label></td>
      <td><input type="file"  formControlName="eventlog" (change)="EventLogUpload($event)" required></td>
    </tr>
    <tr>
      <td><label>Dashboard Name : </label></td>
        <td><input type="text"  formControlName="dashName" maxlength="15" placeholder="Enter Name" required></td>
      </tr>
    <br>
    <br>
    <tr>

      <td><button type="button" type="submit"  >Create DashBoard</button>&nbsp;</td>
      <td><button type="button" class="type" routerLink="/monitor-viewing" >Back to Monitor Viewing</button>&nbsp;</td>
      
      <td><button type="button" class="type" routerLink="/dashboard" >View Dashboard</button>&nbsp;</td>


    </tr>
    <br>

  </form>
  <mat-spinner *ngIf="showSpinner" [diameter]="100" style="margin:0 auto;" mode="indeterminate" class="mat-spinner"></mat-spinner>


 
</div>

