<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<p>This is the detail page for dashboard id: {{id}}</p>



<body>
<h2>Detailed Dashboard Tables</h2>
<div>
  <table cellpadding="10" cellspacing="0" border="1"  class ="detailedTableOne">
    <tr>
      <th>open cases </th>
      <th>completed cases </th>
      <th>completed events </th>
      <th>Average events per completed cases </th>
      <th>Average case duration </th>

    </tr>

    <!--
     <tr *ngFor = "let item of initTasks">
       <td>{{item.id}}</td>
       <td>{{item.name}}</td>
       <td>{{item.status}}</td>
       </tr>
!-->

  </table>


  <button style= "display: inline-block" type = "button" (click) = "downloadCSV(id)" >download CSV</button >

  <!--<button  style= "display: inline-block; margin-left: 500px"  (click) = "openFile(id)" >check CSV</button>-->

  <table border="1" cellpadding="10">
    <tr *ngFor="let fitem of list">
      <td>{{fitem.fitem1}}</td>
      <td>{{fitem.fitem2}}</td>
      <td>{{fitem.fitem3}}</td>
      <td>{{fitem.fitem4}}</td>
      <td>{{fitem.fitem5}}</td>
      <td>{{fitem.fitem6}}</td>
      <td>{{fitem.fitem7}}</td>
      <td>{{fitem.fitem8}}</td>
      <td>{{fitem.fitem9}}</td>

    </tr>
  </table>

</div>

<br>
<br>
<br>
<!--
<div>
  <table cellpadding="10" cellspacing="0" border="1" class ="detailedTableTwo">
    <tr>
      <th>Case </th>
      <th>Events elapsed </th>
      <th>Start time </th>
      <th>Latest event time </th>
      <th>Target supply date </th>
      <th>Next activity </th>
      <th>Next activity % </th>
    </tr>


      <tr *ngFor = "let item of initTasks">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.status}}</td>
        </tr>

  </table>

</div>

!-->

</body>
