<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="../js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="../js/angular.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



<p>This is the detail page for : {{dashname}} </p>



<body ng-app = "myApp" ng-controller = "myCtrl">
<h2>Detailed Dashboard Tables</h2>
<div>
  <table cellpadding="10" cellspacing="0" border="1"  class ="detailedTableOne">
    <tr *ngFor="let agg_data of list_two">
      <td *ngFor="let data of agg_data">{{data}}</td>
    </tr>
     <!-- <th>open cases </th>
      <th>completed cases </th>
      <th>completed events </th>
      <th>Average events per completed cases </th>
      <th>Average case duration </th>-->
    <tr *ngFor="let agg_data_2 of list_three">
      <td *ngFor="let data_2 of agg_data_2">{{data_2}}</td>
    </tr>





    <!--
     <tr *ngFor = "let item of initTasks">
       <td>{{item.id}}</td>
       <td>{{item.name}}</td>
       <td>{{item.status}}</td>
       </tr>
!-->

  </table>


  <br>

  <button class= "download" style= "display: inline-block" type = "button" (click) = "downloadCSV(id)" >download CSV</button >

  <!--<button  style= "display: inline-block; margin-left: 500px"  (click) = "openFile(id)" >check CSV</button>-->
<div class="table-scroll">
  <br>
  <table border="1" cellpadding="10" style="margin: auto;">
    <tr ng-repeat = "fitem in fitemrow" *ngFor="let fitemrow of list">
      <td *ngFor="let fitem of fitemrow">{{fitem}}</td>

    </tr>
  </table>
  <br>
</div>

  <nav>
    <ul class="pagination">
      <li>
        <a ng-click="Previous()">
          <span>上一页</span>
        </a>
      </li>
      <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
        <a ng-click="selectPage(page)" >{{ page }}</a>
      </li>
      <li>
        <a ng-click="Next()">
          <span>下一页</span>
        </a>
      </li>
    </ul>
  </nav>
</div>



<br>
<br>
<br>
<!--
<div>
  <table cellpadding="10" cellspacing="0" border="1" class ="detailedTableTwo">
    <tr>
      <th>Case </th>
      <th>Events elapsed </th>
      <th>Start time </th>
      <th>Latest event time </th>
      <th>Target supply date </th>
      <th>Next activity </th>
      <th>Next activity % </th>
    </tr>
      <tr *ngFor = "let item of initTasks">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.status}}</td>
        </tr>
  </table>
</div>
!-->
<script src = "augular.min.js"></script>
<script>


  import {LocalStorageService} from "../../local-storage.service";

  var app =  angular.module("myApp",[]);
  app.controller("myCtrl", function($scope, $http){
    $http.get(localStorage.getItem(id + 'csv').then(function (response) {

      // get source data
      $scope.data = response.data.data;

      // Total page settings
      $scope.pageSize = 10;
      $scope.pageNumbers = Math.ceil($scope.data.length/ $scope.pageSize);
      $scope.newPages = $scope.pageNumbers > 5 ? 5 : $scope.pageNumbers;
      $scope.pageList = [];
      $scope.selPage = 1;

      //set row data
      $scope.setData= function(){
        $scope._items = $scope.data.slice($scope.pageSize * ($scope.selPage - 1), ($scope.selPage * $scope.pageSize));
      };

      // get the iteration data
      for (var i = 0; i < $scope.pageNumbers; i++){
        $scope.pageList.push(i + 1); // displage the page number
      }

      //print the current index
      $scope.selectPage = function (page) {
        if (page < 1 || page > $scope.pageNumbers) return;
        if (page > 2){
          var newPageList = [];

          for (var i = (page - 3); i < ((page + 2) > $scope.pageNumbers ? $scope.pageNumbers: (page + 2)); i++ ){
            newPageList.push (i + 1);
          }
          $scope.pageList = newPageList;
        }
        $scope.selPage = page;
        $scope.setData();
        $scope.isActive(page);
        console.log("Your selected paqe is: " + page);
      };

      // Select the current page
      $scope.isActive = function (page) {
        return $scope.selPage === page;
      };

      // Click 'previous page'
      $scope.previousPage = function(){
        $scope.selectPage($scope.selPage - 1);
      };

      // Click 'Next page'
      $scope.nextPage = function (){
        $scope.selectPage = ($scope.selPage + 1);
      };

      //Click 'First page'
      $scope.firstPage = function(){
        $scope.selectPage(1);
        $scope.pageList = [];

        //data iteration
        for(var i = 0; i < $scope.pageNumbers; i++){
          $scope.pageList.push(i + 1) // display the page number
        }
      };

      // Click the "Last page"
      $scope.lastPage = function () {
        console.log($scope.pageNumbers);
        $scope.selectPage($scope.pageNumbers);
      };
    }, function errorCallBack(response){

    })
  )})
</script></body>
</html>>