http(s)://apromore-predict.cloud.ut.ee {
    encode gzip
    root * /usr/share/caddy
	file_server

    handle_path /backend/* {
        reverse_proxy predictive-master:8000
    }

    handle_path /frontend/* {
        reverse_proxy front-end:4200
    }
}