
<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



<style>
    .btn{
        background-color:#8080FF;
        color:white;
        width:250px;
        height: 60px;
        border:1px solid;
        border-radius: 15px;
    }
    .dashtable{
        border:1px solid;
        margin:auto;

    }
</style>
<body>
    <h2>Dashboard Table</h2>
    <div>

    <table  cellpadding="10" cellspacing="0" border="1" class="dashtable" >
        <tr>
            <th>ID</th>
            <th>Dashboard Name</th>
            <th> Monitor Name</th>
            <th>Status</th>
            <th></th>
        </tr>
        <tr *ngFor = "let item of initTasks">
            <td>{{item.id}}</td>
            <td>Dashboard A</td>
            <td>{{item.name}}</td>
            <td>{{item.status}}</td>
            <td><button [routerLink]="['/dashboard_detail',item.id]">view </button> </td>
            <td><button type="button" (click)="operation(item.id)">{{item.buttonString}}</button></td>


        </tr>


    </table>
    </div>





    <!-- <div class="right" *ngIf="dashboards">

        <h3>Test dashboard</h3>
        <ul>
          <li *ngFor="let dashboard of dashboards | async">
            <td>{{dashboard.id}}</td>
          </li>
        </ul>

      </div>
   -->



</body>
</html>


