.header-bar{
    overflow: hidden;
    background-color: #8080FF;

}
.header-tab{
    display:inline;
    float:left;
}
.header-tab:hover .dropdown-content {
    display: block;
    z-index: 2;
}
.back{
    display:inline;
    float:right;
}
.btn{
    background-color:#8080FF;
    color:white;
    width:250px;
    height: 60px;
    border-right: 2px solid white;
    border-radius: 0%;;
}
.back-btn{
    background-color:#8080FF;
    color:white;
    width:250px;
    height: 60px;
    border-left: 2px solid white;
    border-radius: 0%;;
}
.btn:hover {
    background-color: #4d4dff;
    color: yellow;
}
.back-btn:hover {
    background-color: #4d4dff;
    color: yellow;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 250px;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    display: block;
    background-color: white;
    color: #000000;
    padding: 10px;
    text-decoration: none;
}
.dropdown-content a:hover {
    background-color: #4d4dff;
    color: yellow;
}
