
.create-monitor-form {
  padding: 20px;
  text-align: left;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.mon_disp{
  border: 1px solid black;
  border-collapse: collapse;
  width: 600px;
}
.mon_disp th {
  border: 1px solid black;
  border-collapse: collapse;

}
.mon_disp td {
  border: 1px solid black;
  border-collapse: collapse;
}

th.mon_name, th.mon_toc {
  width: 25%
}

.create-monitor-form{
  border: 1px solid black;
}

button{
  padding: 2px 10px;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.create_mon{
  background-color: #4CAF50;
  color: white;
}
.create_mon:hover {
  background-color:#2A8F0D;
}
.view_mon{
  background-color: #33A9FF;
  color: white;
}
.view_mon:hover {
  background-color:#335EFF;
}
.reset_mon{
  background-color: #1D76D2;
  color: white;
}
.reset_mon:hover {
  background-color:#064382;
}
.remove_mon{
  background-color: #F18E0D;
  color: white;
  font-size: 10px;
  margin-right: 10px;
}
.remove_mon:hover {
  background-color:#F14A0D;
}
.create_db{
  background-color: #02B350;
  color: white;
  font-size: 10px;
}
.create_db:hover {
  background-color:#33A9FF;
}
